.container .re-float{
            float:right;
        }
        .container .re-lfloat{
            float:left;
        }
        .reviews {
            width: 410px;
            background: #f2f3f4;
            border-radius: 10px;
            padding: 20px;
            position: relative;
        }
        
        .reviews .text1 {
            font-size: 16px;
            color: black;
            display: inline-block;
            text-align: left;
        }
        
        .reviews .text2 {
            margin-left: 8rem;
        }
        
        .reviews .text3 {
            margin-top: 10px;
            font-size: 13px;
            color: #888;
        }
        
        .square {
            margin: -104px -50px;
            width: 0px;
            height: 0px;
            border: 10px solid transparent;
            border-right: 20px solid #f2f3f4;
            transform: rotate(3deg);
            position: absolute;
        }
       .reviews .ml{
            margin-left:160px;
       }
       .page-div{
           width:300px;
           position: relative;
           top:50%;
           left:38%;
           margin-top:100px;
           margin-bottom:60px;
       }
       .page {
            position: relative;
            top: 1rem;
            left: 40%;
        }
        /* .page .page-1 {
            position: absolute;
            top: 0;
            left: 50%;
        } */
        
        .page-link {
            border-radius: 5px;
        }
        
        .page-item+.page-item {
            margin-left: 0.55rem;
        }